

<nav class="Navbar navbar navbar-expand-lg">
  <div class="container-fluid">
    <div>    
       <a
       href="/GaonCare"
        class="logo"
        style="font-size: 1.5rem; font-weight: bold; text-decoration: none"
      >
      <span><i class="fa-solid fa-truck-medical"></i> </span> Gaon<span style="color: #28a745">Care</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " aria-current="page" href="/loginUserForm"><b>Login</b></a>
        <a class="nav-link" href="/GaonCare/userSignupForm"><b>Signup</b></a>
        <a class="nav-link" href="#"><b>Sign Out</b></a>
      </div>
    </div>
  </div>
</nav>
