<!-- <nav class="Navbar">
        <div>
            <h4>Gaoncare</h4>
        </div>
        <div class="UserLogin">
            <a href="/userLogin">Login</a>&nbsp;&nbsp;
            <a href="/signUp">Signup</a>&nbsp;&nbsp;
            <a href="/signOut">Sign out</a>
        </div>

    </nav> .-->

<nav class="Navbar navbar navbar-expand-lg">
  <div class="container-fluid">
    <div>
      <!-- <h4>GaonCare</h4> -->
      
      <!-- <a
        href="/"
        class="logo"
        style="font-size: 1.5rem; font-weight: bold; text-decoration: none"
      >
         Gaon<span><i class="fa-solid fa-user-nurse"></i></span><span style="color: #28a745">Care</span>
      </a> -->

       <a
        href="/"
        class="logo"
        style="font-size: 1.5rem; font-weight: bold; text-decoration: none"
      >
      <span><i class="fa-solid fa-truck-medical"></i> </span> Gaon<span style="color: #28a745">Care</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#"><b>Login</b></a>
        <a class="nav-link" href="#">Signup</a>
        <a class="nav-link" href="#">Sign Out</a>
      </div>
    </div>
  </div>
</nav>
