<!--   

  <nav class="Navbar navbar navbar-expand-lg">
    <div class="container-fluid">
      <div>    
        <a
        href="/GaonCare"
          class="logo"
          style="font-size: 1.5rem; font-weight: bold; text-decoration: none"
        >
        <span><i class="fa-solid fa-truck-medical"></i> </span> Gaon<span style="color: #28a745">Care</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">My Bookings</a>
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">VideoConsult</a>
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">About-us</a>
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">Contact-us</a>

      </div>
        <div class="navbar-nav">
          <button class="btn btn-success loginBtn" id="loginBtn"  id="myCustomBtn"    data-bs-toggle="modal" data-bs-target="#exampleModalToggle" style="padding: 0;"><a class="nav-link "  aria-current="page" style="font-weight: 400; color: white;">Login/Register</a></button>
        </div>
      </div>
    </div>

    
  </nav> -->




  


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
   <a
       href="/GaonCare"
        class="logo"
        style="font-size: 1.5rem; font-weight: bold; text-decoration: none"
      >
      <span><i class="fa-solid fa-truck-medical"></i> </span> Gaon<span style="color: #28a745">Care</span>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">My Bookings</a>
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">VideoConsult</a>
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">About-us</a>
          <a class="nav-link "  aria-current="page" href="/loginUserForm" style="font-weight: 600;">Contact-us</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button class="btn btn-secondary" id="loginBtn"  id="myCustomBtn"    data-bs-toggle="modal" data-bs-target="#exampleModalToggle" ><i class="fa-solid fa-user"></i>Login/Signup</a></button>

      </div>
    </div>
  </div>
</nav>
