<% layout('/Layouts/Boilerplate') -%>

<body style="overflow-x: hidden">
  <div class="left-text">
    <h1>Empowering Rural Health</h1>
    <h9>We care for rural health and maternity support.</h9>
    <hr />
    <p>
      GaonCare connects rural families with trusted doctors through a simple and
      fast online platform. Whether it's a fever, injury, pregnancy, or
      emergency — help is just a click away.
    </p>
  </div>
  <div class="img">
    <img
      src="https://images.unsplash.com/photo-1638202993928-7267aad84c31?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZG9jdG9yfGVufDB8fDB8fHww"
    />
  </div>
</body>
