

/* FLASH */
.flash{
  display: block;
  height: 4rem;
  text-align: start;
  margin-bottom: 7rem;
}

.index-page {
  display: flex;
  min-width: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.typing{
 animation: typing 2s steps(20) forwards ,
    deleting 1s steps(20) 3s forwards ; 
  width: 0;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  
  
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.left-text {
  margin-top: 0.2rem;
  margin-right: 7rem;
  margin-left: 1rem;
  width: 26.5rem;
  height:max-content;
}

.img {
  margin-left: auto;
  opacity: 0.4;
}


.alert{
  width: 50rem !important;
  
}
.flashmsg{
  display: flex;
  justify-content: center;
}