
/* Index.ejs */
.whole-content{
  margin-top:10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bookingCard {
  display: flex;
  flex-direction: row;
}
 .menu-button {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30px;
            height: 24px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 1001; /* Ensure it's above the navbar */
        }

        .menu-button .bar {
            width: 30px;
            height: 3px;
            background-color: #333;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
@media screen and (max-width:1200px) {
  .whole-content{
  margin-top:2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.left-text{
  width:200px;
}
  .bookingCard {
    display: flex;
    flex-direction: column;
    gap:20px;
  } 
}

.bookBtn:hover{
  box-shadow:2px 5px 2px rgb(0, 0, 0 ,0.5) ;
  transform: scale(1.03);
  
}


/* BOOK INSTANT CARD */

.bookInstantCard {
  margin-right: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 5, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}
.bookInstantCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 5, 1);
}
.bookingCard {
  display: flex;
 
}


.bookBtn:hover{
  box-shadow:2px 5px 2px rgb(0, 0, 0 ,0.5) ;
  transform: scale(1.03);
  
}


