* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  flex: 1;
  padding-top: 3.25rem;
}

/* NAVBAR */
nav {
  box-shadow: 0 10px 10px rgba(0, 0, 5, 0.2);
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed !important;
  width: 100%;
  z-index: 100;
}

.navbar-nav {
  margin-left: auto;
}

/* FLASH */
.flash{
  display: block;
  height: 4rem;
  text-align: start;
  margin-bottom: 7rem;
}

.index-page {
  display: flex;
  min-width: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.typing{
 animation: typing 2s steps(20) forwards ,
    deleting 1s steps(20) 3s forwards ; 
  width: 0;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  
  
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.left-text {
  margin-top: 0.2rem;
  margin-right: 7rem;
  margin-left: 1rem;
  width: 26.5rem;
  height:max-content;
}

.img {
  margin-left: auto;
  opacity: 0.4;
}

body {
  background: linear-gradient(
    to right,
    rgb(205, 250, 236, 0.9),
    rgba(248, 246, 246, 0)
  );
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.alert{
  width: 50rem !important;
  
}
.flashmsg{
  display: flex;
  justify-content: center;
}

/* //SignUp Card */

.SignupCard {
  height: 30rem !important; 
  margin-top: 0.01rem;
  padding: 1rem;
  border: 1px solid black !important;
  margin-bottom: 2rem !important;
  width: 26rem !important   ;
}
.SignUp{
  display: flex;
  
}
.doctorSignupCard{
  height: 30rem !important;
  padding: 1rem;
  border: 1px solid black !important;
  width: 26rem !important;


}


/* BOOK INSTANT CARD */

.bookInstantCard {
  margin-right: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 5, 0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}
.bookInstantCard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 5, 1);
}
.bookingCard {
  display: flex;
 
}


.bookBtn:hover{
  box-shadow:2px 5px 2px rgb(0, 0, 0 ,0.5) ;
  transform: scale(1.03);
  
}



/* USER LOGIN */

.userLoginForm{

  background-color: white;
  height: 25rem;
  width: 25rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

/* EMERGENCY BOOKING PAGE */

.location{
  width: 100%;
  height: 4rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationInput{
  width: 20rem;
  
}
.inputs{
  background-color: white;
  margin: 0 !important;
  display: flex;
  border: 1px solid black;
}
.searchBar{
  display: flex;
}
.emergencyVisit{
  display: flex;
  flex-direction: column !important;
}
